.startpage-container {
  position: relative;
  height: 50vh;
}

.question-example {
  position: absolute;
  right: 80px;
  bottom: 80px;
  width: 640px;
  transform: rotate(350deg);
}

@media (max-width: 1050px) {
  .question-example {
    width: 480px;
  }
}

@media (max-width: 800px) {
  .question-example {
    width: 320px;
  }
}
