.startpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  clip-path: circle(60% at 50% 5%);
  overflow: hidden;
}

.headline-text-container {
  animation: fadeIn 1.5s;
}

.headline-text {
  max-width: 500px;
}

.description-text-container {
  animation: slideIn 2s;
}

.question-example-container {
  max-width: 400px;
}

.question-example {
  width: 100%;
}

@keyframes slideIn {
  from {
    transform: translateX(1500px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
