.form-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guest-credentials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guest-credentials-headline {
  font-weight: 700;
}

.auth-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
}

.error-container {
  max-width: 500px;
  width: 100%;
  border-radius: 8px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}
