.user-startpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

.pre-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-message-container {
  padding: 16px;
  border-radius: 8px;
}

.main-container {
  display: flex;
  background-color: white;
  border-radius: 8px;
}

.main-container p {
  margin: 0;
}

.duels-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.all-duels {
  display: flex;
  flex-direction: column;
}

.player-duels {
  display: flex;
  flex-wrap: wrap;
}

.player-duel-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, .2);
  border-radius: 8px;
  flex: 1 1 40%;
}

.new-opponents {
  width: 240px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 350px) {
  .new-opponents {
    width: 100%;
  }
}
