<div class="user-startpage-container m-5">
  <div class="main-container">
    <div class="profile-link-container">
      <p>You: {{ username }}</p>
    </div>
    <div class="duels-overview">
      <h2>Duels</h2>
      <div class="player-duel">
        <button class="btn btn-success m-2" *ngFor="let duel of allDuels" (click)="playDuel(duel.duelId)">{{ duel.playerTwo }}</button>
      </div>
    </div>
  </div>
  <div class="new-opponents">
    <h2>New duel</h2>
    <button class="btn btn-secondary m-2" (click)="showAllUsers()">All Users</button>
    <button class="btn btn-primary m-2" type="button" *ngFor="let user of allUsers" (click)="startNewDuel(user.uid, user.username)">{{ user.username }}</button>
  </div>
</div>
