.answers-container {
  display: flex;
  flex-wrap: wrap;
  margin: 64px 8px 64px 8px;
  text-align: center;
  justify-content: center;
}

.answer-container {
  padding: 16px;
  margin: 16px;
  background-color: rgb(50, 0, 180);
  flex: 0 0 calc(50% - 32px);
  border-radius: 8px;
  cursor: pointer;
  transition: transform 225ms ease-in-out, background-color 350ms ease-in-out;
  color: white;
}

.answer-container:hover {
  transform: scale(1.02);
}

.answer-container span {
  font-size: 1.2rem;
  font-weight: 500;
}

.wrong-answer {
  background-color: rgb(230, 80, 0);
}

.right-answer {
  background-color: rgb(0, 150, 70);
}

@media (max-width: 1050px) {
  .answer-container {
    margin: 2px;
    flex: 0 0 calc(50% - 4px);
  }
}
