.duel-overview-container {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  height: 100%;
}

.back-button-container {
  width: 60px;
  padding: 8px;
}

.duel-overview-main-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.duel-scoring-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
}

.duel-scoring-container {
  display: flex;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winner-msg-container {
  border-radius: 8px;
}

.wait-for-opponent-container {
  border-radius: 8px;
}
